<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Styles Template</title>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- Header -->
    <header class="primary-header container group">
      <h1 class="logo">
        <a href="index">Internal <br> Tools</a>
      </h1>
      <h3 class="tagline nav">Solution Engineering </h3>
    </header>
<!-- Normal body -->

    <section class="row">
      <div class="grid">
        <form class="col-1-3" action="#" method="post">
          <h2>API Requester</h2>
          <h5>Test the Offer Response</h5>
            <fieldset class="register-group inline">
              <p class="alignleft">Appid*</p> <p class="alignright"><input type="text" name="bla" placeholder="16874" required><p><div style="clear: both;"></div>
                Platform*
                <input type="radio" name="day" value="iOS" checked> iOS
                <input type="radio" name="day" value="Android"> Android
            </fieldset>
            <fieldset class="register-group full">
                Take IP* from this country:
                <select name="ip">
                  <option value="200.58.97.198">Argentina 200.58.97.198</option>
                  <option value="223.252.33.75">Australia 223.252.33.75</option>
                  <option value="149.154.153.92">Austria 149.154.153.92</option>
                  <option value="81.95.121.251">Belgium 81.95.121.251</option>
                  <option value="201.33.19.7">Brazil 201.33.19.7</option>
                  <option value="199.167.19.29">Canada 199.167.19.29</option>
                  <option value="222.73.204.193">China 222.73.204.193</option>
                  <option value="190.90.160.162">Colombia 190.90.160.162</option>
                  <option value="81.2.197.93">Czech Republic 81.2.197.93</option>
                  <option value="94.231.110.81">Denmark 94.231.110.81</option>
                  <option value="212.94.78.134">Finland 212.94.78.134</option>
                  <option value="91.121.80.205">France 91.121.80.205</option>
                  <option value="111.118.186.245">India 111.118.186.245</option>
                  <option value="178.237.42.37">Geosurf IT 178.237.42.37</option>
                  <option value="195.88.7.112">Italy 195.88.7.112</option>
                  <option value="110.50.241.69">Japan 110.50.241.70</option>
                  <option value="218.237.65.38">Korea 218.237.65.38</option>
                  <option value="124.217.230.104">Malaysia 124.217.230.104</option>
                  <option value="201.150.38.98">Mexico 201.150.38.98</option>
                  <option value="178.237.42.45">Netherlands 178.237.42.45</option>
                  <option value="81.27.33.8">Norway 81.27.33.8</option>
                  <option value="193.17.184.160">Poland 193.17.184.160</option>
                  <option value="188.93.226.136">Portugal 188.93.226.136</option>
                  <option value="91.200.122.177">Romania 91.200.122.177</option>
                  <option value="176.99.5.235">Russia 176.99.5.235</option>
                  <option value="91.142.213.109">Spain 91.142.213.109</option>
                  <option value="91.189.44.162">Sweden 91.189.44.162</option>
                  <option value="92.42.186.167">Switzerland 92.42.186.167</option>
                  <option value="213.128.83.50">Turkey 213.128.83.50</option>
                  <option value="213.171.197.181">UK 213.171.197.181</option>
                  <option value="173.208.57.58">US 173.208.57.58</option>
                  <option value="69.147.251.50">US 69.147.251.50</option>
                  <option value="199.192.86.139" selected>US 199.192.86.139</option>
                  <option value="5.135.39.76">SP France IP 5.135.39.76</option>
                </select>
            </fieldset>
            <fieldset class="register-group inline">
                <p class="alignleft">OS version*</p> <p class="alignright"><input type="text" name="bla" placeholder="9.0" required><p><div style="clear: both;"></div>
                <p class="alignleft">UId*</p> <p class="alignright"><input type="text" name="bla" placeholder="filled automatically" class="alignright"></p><div style="clear: both;"></div>
                <p class="alignleft">Timestamp*</p> <p class="alignright"><input type="text" name="bla" placeholder="filled automatically" class="alignright"></p><div style="clear: both;"></div>
                <p class="alignleft">Language</p> <p class="alignright"><input type="text" name="bla" placeholder="en" class="alignright"></p><div style="clear: both;"></div>
                <p class="alignleft">Offer Types</p> <p class="alignright"><input type="text" name="bla" placeholder="101" class="alignright"></p><div style="clear: both;"></div>
                <p class="alignleft">Page</p> <p class="alignright"><input type="text" name="bla" placeholder="1" class="alignright"></p><div style="clear: both;"></div>
            </fieldset>
            <p class="alignright"><input class="btn btn-default" type="submit" name="submit" value="Submit"></p><div style="clear: both;"></div>
          </form>
      </div>
    </section>

    <!-- Footer -->

    <footer class="primary-footer container group">

      <small >&copy; SE Fyber </small>

      <nav class="nav">
        <a href="index">home</a>
        <a href="form">adsup</a>
        <a href="form">devsup</a>
        <a href="form">adops</a>
        <a href="form">int mgmt</a>
      </nav>
      </footer>
  </body>
</html>
