<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Styles Template</title>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- Header -->
    <header class="primary-header container group">

      <h1 class="logo">
        <a href="index" >Internal <br> Tools</a>
      </h1>

      <h3 class="tagline nav">Simplify your life &#9731; </h3>

      <nav class="primary-nav nav">
        <a href="index">Home</a>
        <a href="form">AAAA</a>
        <a href="form">BBB</a>
        <a href="form">CCCC</a>
        <a href="form">DDDDD</a>
      </nav>

    </header>

    <section class="row">
      <div class="grid">
        <form class="col-1-3" action="#" method="post">
            <fieldset class="register-group full block">

              <label>
                Date
                <input type="date" name="birthday">
                Time
                <input type="time" name="game-time">
              </label>

            </fieldset>
        <input class="btn btn-default" type="submit" name="submit" value="Submit">
        </form><!--
        --><section class="col-2-3">
          <h2>This is the title of my feature</h2>
          <h5>catchy keyword</h5>

          <p>Here is your paragraph. To get two columns use class="col-2-3" for the wider column and class="col-1-3" for the slimmer one. It makes sense to wrap the columns in either a section tag like you can see here on the right or into the form tag as done on the left.  </p>

          <h4>Check bullet point code below:</h4>

          <ul class="bullet-point">
            <li>The button at the end is a class="btn btn-default" button</li>
            <li>Bla bla bla</li>
            <li>Bla bla bla</li>
            <li>Bla bla bla</li>
          </ul>

        </section>
      </div>
    </section>

    <!-- Footer -->

    <footer class="primary-footer container group">

      <small >&copy; SE Fyber </small>

      <nav class="nav">
        <a href="index">home</a>
        <a href="form">aaaa</a>
        <a href="form">bbb</a>
        <a href="form">cccc</a>
        <a href="form">ddddd</a>
      </nav>
      </footer>
  </body>
</html>
