<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Styles Template</title>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- Header -->
    <header class="primary-header container group">
      <h1 class="logo">
        <a href="index">Internal <br> Tools</a>
      </h1>
      <h3 class="tagline nav">Solution Engineering </h3>
    </header>
<!-- Normal body -->

    <section class="row">
      <div class="grid">
        <p> Your implementation can go here. View empty file for details. The class="row" makes the background white. The div class="grid" centers it.</p>
      </div>
    </section>

    <!-- Footer -->

    <footer class="primary-footer container group">

      <small >&copy; SE Fyber </small>

      <nav class="nav">
        <a href="index">home</a>
        <a href="form">adsup</a>
        <a href="form">devsup</a>
        <a href="form">adops</a>
        <a href="form">int mgmt</a>
      </nav>
      </footer>
  </body>
</html>
