<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Styles Template</title>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- Header -->
    <header class="primary-header container group">
      <h1 class="logo">
        <a href="index">Internal <br> Tools</a>
      </h1>
      <h3 class="tagline nav">Solution Engineering </h3>
    </header>
<!-- Normal body -->

    <section class="row">
      <div class="grid">
        <p> Your implementation can go here. View empty file for details. The class="row" makes the background white. The div class="grid" centers it.</p>
        <br>
        <u>View our headers from h1 down to h5 and p tag below:</u>
        <br>
        <h1>Example text</h1>
        <h2>Example text</h2>
        <h3>Example text</h3>
        <h4>Example text</h4>
        <h5>Example text</h4>
        <p>Example text</p>
        <br>
        <u>View different ways to emphasize text:</u>
        <!-- Strong importance -->
        <p><strong>Caution:</strong> Falling rocks.</p>

        <!-- Stylistically offset -->
        <p>This recipe calls for <b>bacon</b> and <b>baconnaise</b>.</p>

        <!-- Stressed emphasis -->
        <p>I <em>love</em> Chicago!</p>

        <!-- Alternative voice or tone -->
        <p>The name <i>Shay</i> means a gift.</p>
      </div>
    </section>

    <!-- Footer -->

    <footer class="primary-footer container group">

      <small >&copy; SE Fyber </small>

      <nav class="nav">
        <a href="index">home</a>
        <a href="form">adsup</a>
        <a href="form">devsup</a>
        <a href="form">adops</a>
        <a href="form">int mgmt</a>
      </nav>
      </footer>
  </body>
</html>
