<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Styles Template</title>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- Header -->
    <header class="primary-header container group">

      <h1 class="logo">
        <a href="index" >Internal <br> Tools</a>
      </h1>

      <h3 class="tagline nav">Simplify your life &#9731; </h3>

      <nav class="primary-nav nav">
        <a href="index">Home</a>
        <a href="form">AAAA</a>
        <a href="form">BBB</a>
        <a href="form">CCCC</a>
        <a href="form">DDDDD</a>
      </nav>

    </header>

    <!-- Hero -->

    <section class="hero container">
      <h2>Some nice header</h2>
      <p>Some really nice teaser maybe promoting a new feature or something else. Demonstrates style for hover over attention button with class="btn btn-alt".</p>
      <a class="btn btn-alt" href="frontpage">Front Page Example</a>
    </section>

    <section class="row">
      <div class="grid">

      <!-- Queries -->

      <section class="teaser col-1-3">
        <a href="empty">
          <h5>Empty</h5>
          <h3>Your empty template</h3>
        </a>
        <p>See how much space you have to use your original and own body styling.</p>
      </section><!--

      Example Apps

    --><section class="teaser col-1-3">
        <a href="column">
          <h5>Columns</h5>
          <h3>Separate Page vertically</h3>
        </a>
        <p>On this page you will also see how to make an input box for date and time</p>
      </section><!--

        Mobile Offer Wall API

      --><section class="teaser col-1-3">
        <a href="hero">
          <h5>Hero</h5>
          <h3>Separate page horizontically</h3></a>
        <p>Pasdoqwe d Hasdflkas df FSDasdfsdfa sdf Dasdfasdf we ds fJjsdfs Herdfd adf asldkfj asdfl kj adlkfj asldkfj asldkfj asldkfj sdkfadskfjasldfwe dlkjdf adlkjf asdlfkjasdfjasldfjalsd fajsdflas dfjas.</p>
      </section>

      </div>

      <div class="grid">

      <!-- HasOffers -->

      <section class="teaser col-1-3">
        <a href="input">
          <h5>Input</h5>
          <h3>Long and short input</h3>
        </a>
        <p>Pasdoqwe d Hasdflkas df FSDasdfsdfa sdf Dasdfasdf we ds fJjsdfs Herdfd adf asldkfj asdfl kj adlkfj asldkfj asldkfj asldkfj sdkf.</p>
      </section><!--

      Example Apps

    --><section class="teaser col-1-3">
        <a href="dropdown">
          <h5>Dropdown</h5>
          <h3>See different dropdowns</h3>
        </a>
        <p>Pasdoqwe d Hasdflkas df FSDasdfsdfa sdf Dasdfasdf we ds fJjsdfs Herdfd adf asldkfj asdfl kj adlkfj asldkfj asldkfj asldkfj sdkf.</p>
      </section><!--

        Mobile Offer Wall API

      --><section class="teaser col-1-3">
        <a href="radio_check">
          <h5>Select buttons</h5>
          <h3>See different select buttons</h3></a>
        <p>Pasdoqwe d Hasdflkas df FSDasdfsdfa sdf Dasdfasdf we ds fJjsdfs Herdfd adf asldkfj asdfl kj adlkfj asldkfj asldkfj asldkfj sdkf.</p>
      </section>

      </div>
    </section>

    <!-- Footer -->

    <footer class="primary-footer container group">

      <small >&copy; SE Fyber </small>

      <nav class="nav">
        <a href="index">home</a>
        <a href="form">aaaa</a>
        <a href="form">bbb</a>
        <a href="form">cccc</a>
        <a href="form">ddddd</a>
      </nav>
      </footer>
  </body>
</html>
